head {
  justify-content: center;
  align-items: center;
  background-color: #000000;
}
body {
  background-color: grey;
}

div {
  justify-content: center;
  align-items: center
}

button {
    background: #002c46;
    color: white;
    border-style: outset;
    border-color: #000000;
    height: 25px;
    width: 100px;
    font: bold15px arial,sans-serif;
    text-shadow: none;
}

.grid {
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  background-color: aqua;
  justify-content: center;
  align-items: center
}

.grid div {
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  background-image: './nokia.jpg';
}

.grid {
  background-image: './nokia.jpg';
}

.snake {
  background-color: #3a9600;
background-image: linear-gradient(160deg, #3a9600 0%, #000000 100%);

}

.apple {
  background-color: rgb(255, 0, 0);
}


